﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ZARA TAVUKÇULUK</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/mobile.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <div id="header" class="color">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ZARA TAVUKÇULUK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Sipariş","","")</li>
                    <li>@Html.ActionLink("İletişim", "", "")</li>
                    <li>@Html.ActionLink("Kurumsal", "", "")</li>
                    <li>@Html.ActionLink("Ürünler", "", "")</li>
                    <li>@Html.ActionLink("Üye Ol", "", "")</li>
                    <li>@Html.ActionLink("Giriş", "", "")</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @RenderBody()
    </div>

    <div id="footer">
        <div>
            
            <p>&copy; @DateTime.Now.Year - Ömer Faruk Cavlak     Tüm Hakları Saklıdır </p>
            
        </div>
    </div>

    

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>